<cruisecontrol xmlns:cb="urn:ccnet.config.builder">
  <cb:define gitPath="C:\Program Files (x86)\Git\cmd\git.exe"/>
  <cb:define buildsPath="C:\Builds\"/>
  <cb:define sourcesPath="C:\Builds\Sources\"/>
  <cb:define AzureSDKBin="C:\Program Files\Microsoft SDKs\Windows Azure\.NET SDK\2012-06\bin\"/>
  <queue name="Q1" lockqueues="Q2,Q3" />
  <queue name="Q2" lockqueues="Q1,Q3" />
  <queue name="Q3" lockqueues="Q1,Q2" />
  <project name="SherpaDeskStaging" description="Sherpadesk web application" queue="Q1" queuePriority="1">
    <webURL>http://build.micajah.com/server/local/project/SherpaDeskStaging/ViewProjectStatus.aspx</webURL>
    <triggers>
      <intervalTrigger name="continuous" seconds="30" buildCondition="IfModificationExists" initialSeconds="5"/>
    </triggers>
    <maxSourceControlRetries>10</maxSourceControlRetries>
    <sourceControlErrorHandling>ReportOnEveryRetryAmount</sourceControlErrorHandling>
    <sourcecontrol type="filtered">
      <sourceControlProvider type="git">
        <repository>git@github.com:bigWebApps/HelpDesk.git</repository>
        <branch>master</branch>
        <autoGetSource>true</autoGetSource>
        <fetchSubmodules>true</fetchSubmodules>
        <executable>$(gitPath)</executable>
        <tagOnSuccess>false</tagOnSuccess>
        <commitBuildModifications>false</commitBuildModifications>
        <commitUntrackedFiles>false</commitUntrackedFiles>
        <tagCommitMessage>CCNet Build {0}</tagCommitMessage>
        <tagNameFormat>CCNet-Build-{0}</tagNameFormat>
        <committerName>vgooz</committerName>
        <committerEMail>vladimir.gooz@gmail.com</committerEMail>
        <workingDirectory>$(sourcesPath)SherpaDesk</workingDirectory>
        <timeout>600000</timeout>
      </sourceControlProvider>
      <inclusionFilters>
        <pathFilter>
          <pattern>/bin Shared/**/*.*</pattern>
        </pathFilter>
        <pathFilter>
          <pattern>/BLL/**/*.*</pattern>
        </pathFilter>
        <pathFilter>
          <pattern>/BLL Linq/**/*.*</pattern>
        </pathFilter>
        <pathFilter>
          <pattern>/DAL/**/*.*</pattern>
        </pathFilter>
        <pathFilter>
          <pattern>/SherpaDesk Web/**/*.*</pattern>
        </pathFilter>
        <pathFilter>
          <pattern>/SherpaDesk Azure/**/*.*</pattern>
        </pathFilter>
      </inclusionFilters>
    </sourcecontrol>
    <tasks>
      <msbuild>
        <description>Compile Web Application Project</description>
        <executable>C:\WINDOWS\Microsoft.NET\Framework\v4.0.30319\MSBuild.exe</executable>
        <workingDirectory>$(sourcesPath)SherpaDesk\SherpaDesk Web</workingDirectory>
        <projectFile>SherpaDesk Web.csproj</projectFile>
        <buildArgs>/p:Configuration=Debug;DeployOnBuild=true;DeployTarget=Package;AutoParameterizationWebConfigConnectionStrings=false /v:diag</buildArgs>
        <!--
        <buildArgs>/p:Configuration=Debug;TargetProfile=Cloud;PublishDir=$(workingDir)\CloudPackage\ /v:diag /t:rebuild;publish</buildArgs>
-->
        <timeout>1200</timeout>
      </msbuild>
      <exec>
        <description>Create Azure Cloud Service package</description>
        <executable>$(AzureSDKBin)cspack.exe</executable>
        <buildArgs>ServiceDefinition.csdef /role:"SherpaDesk Web";"$(sourcesPath)SherpaDesk\SherpaDesk Web\obj\Debug\Package\PackageTmp" /rolePropertiesFile:"SherpaDesk Web";AzureRoleProperties.txt /sites:"SherpaDesk Web";SherpaDesk;"$(sourcesPath)SherpaDesk\SherpaDesk Web\obj\Debug\Package\PackageTmp" /out:$(buildsPath)Packages\SherpaDesk-Azure-Staging.cspkg</buildArgs>
        <baseDirectory>$(sourcesPath)SherpaDesk\SherpaDesk Azure</baseDirectory>
      </exec>
      <powershell>
        <description>Publish package to the Azure Cloud Service</description>
        <script>PublishCloudService.ps1</script>
        <executable>powershell.exe</executable>
        <buildArgs>–environment Staging -selectedsubscription bigWebApps -serviceName sherpadesk -storageAccountName micajah1 -packageLocation $(buildsPath)Packages\SherpaDesk-Azure-Staging.cspkg -cloudConfigLocation .\ServiceConfiguration.Cloud.cscfg -subscriptionDataFile .\bigWebApps.publishsettings</buildArgs>
        <scriptsDirectory>$(sourcesPath)SherpaDesk\SherpaDesk Azure</scriptsDirectory>
        <buildTimeoutSeconds>1800</buildTimeoutSeconds>
      </powershell>
    </tasks>
    <externalLinks>
      <externalLink name="Sherpadesk Beta" url="http://beta.sherpadesk.com" />
    </externalLinks>
    <publishers>
      <xmllogger logDir="$(buildsPath)BuildLogs\SherpaDeskStaging" />
      <email mailport="25" includeDetails="TRUE" mailhostUsername="AKIAIMHA7HCKZ3PNYSXA" mailhostPassword="AlPedmMJUspyCKQmOVBiGn3KuUlVlNHDoU43vH0vb8Q3" useSSL="TRUE">
        <from>build@micajah.com</from>
        <mailhost>email-smtp.us-east-1.amazonaws.com</mailhost>
        <users>
          <user name="Vladimir Gooz" group="Developers" address="vladimir.gooz@micajah.com" />
          <user name="Jon Vickers" group="Developers" address="jon.vickers@micajah.com" />
          <user name="Yura Yuriev" group="Developers" address="yura.yuriev@gmail.com" />
          <user name="Igor Vladyka" group="Developers" address="vladyka_igor@hotmail.com" />
          <user name="Eugene Tolmachev" group="Developers" address="eugene@micajah.com" />
          <user name="Michael Khramov" group="Developers" address="michael.khramov@gmail.com" />
          <user name="Patrick Clements" group="Managers" address="patrick.clements@bigwebapps.com" />
        </users>
        <groups>
          <group name="Developers">
            <notifications>
              <notificationType>Always</notificationType>
            </notifications>
          </group>
          <group name="Managers">
            <notifications>
              <notificationType>Success</notificationType>
            </notifications>
          </group>
        </groups>
      </email>
    </publishers>
  </project>
  <project name="HelpDeskBeta" description="HelpDesk web site" queue="Q2" queuePriority="1">
    <webURL>http://build.micajah.com/server/local/project/HelpDeskBeta/ViewProjectStatus.aspx</webURL>
    <triggers>
      <intervalTrigger name="continuous" seconds="30" buildCondition="IfModificationExists" initialSeconds="5"/>
    </triggers>
    <maxSourceControlRetries>10</maxSourceControlRetries>
    <sourceControlErrorHandling>ReportOnEveryRetryAmount</sourceControlErrorHandling>
    <sourcecontrol type="filtered">
      <sourceControlProvider type="git">
        <repository>git@github.com:bigWebApps/HelpDesk.git</repository>
        <branch>master</branch>
        <autoGetSource>true</autoGetSource>
        <fetchSubmodules>true</fetchSubmodules>
        <executable>$(gitPath)</executable>
        <tagOnSuccess>false</tagOnSuccess>
        <commitBuildModifications>false</commitBuildModifications>
        <commitUntrackedFiles>false</commitUntrackedFiles>
        <tagCommitMessage>CCNet Build {0}</tagCommitMessage>
        <tagNameFormat>CCNet-Build-{0}</tagNameFormat>
        <committerName>vgooz</committerName>
        <committerEMail>vladimir.gooz@gmail.com</committerEMail>
        <workingDirectory>$(sourcesPath)HelpDesk</workingDirectory>
        <timeout>600000</timeout>
      </sourceControlProvider>
      <inclusionFilters>
        <pathFilter>
          <pattern>/bin Shared/**/*.*</pattern>
        </pathFilter>
        <pathFilter>
          <pattern>/BLL/**/*.*</pattern>
        </pathFilter>
        <pathFilter>
          <pattern>/BLL Linq/**/*.*</pattern>
        </pathFilter>
        <pathFilter>
          <pattern>/DAL/**/*.*</pattern>
        </pathFilter>
        <pathFilter>
          <pattern>/HelpDesk Web/**/*.*</pattern>
        </pathFilter>
      </inclusionFilters>
    </sourcecontrol>
    <tasks>
      <msbuild>
        <description>Compile Web Site Solution</description>
        <executable>C:\WINDOWS\Microsoft.NET\Framework\v4.0.30319\MSBuild.exe</executable>
        <workingDirectory>$(sourcesPath)HelpDesk\HelpDesk Web Deploy</workingDirectory>
        <projectFile>HelpDesk Web Deploy.wdproj</projectFile>
        <buildArgs>/t:Build;Package /p:Configuration=Debug /v:diag</buildArgs>
        <timeout>1200</timeout>
      </msbuild>
    </tasks>
    <externalLinks>
      <externalLink name="HelpDesk Beta" url="http://beta.helpdesk.bigwebapps.com" />
    </externalLinks>
    <publishers>
      <buildpublisher>
        <description>Copy Precompiled Site</description>
        <sourceDir>$(sourcesPath)HelpDesk\HelpDesk Web Deploy\Debug</sourceDir>
        <publishDir>$(buildsPath)Packages\PrecompiledWeb\HelpDeskBeta</publishDir>
        <useLabelSubDirectory>false</useLabelSubDirectory>
        <alwaysPublish>false</alwaysPublish>
      </buildpublisher>
      <conditionalPublisher>
        <conditions>
          <condition>Success</condition>
        </conditions>
        <publishers>
          <exec>
            <description>Delete Web.Config and Web.Config.Production files.</description>
            <executable>C:\WINDOWS\System32\cmd.exe</executable>
            <buildArgs>/C del web.config web.config.Production</buildArgs>
            <baseDirectory>$(buildsPath)Packages\PrecompiledWeb\HelpDeskBeta</baseDirectory>
          </exec>
          <exec>
            <description>Rename Web.Config.Beta file to Web.Config.</description>
            <executable>C:\WINDOWS\System32\cmd.exe</executable>
            <buildArgs>/C rename web.config.beta web.config</buildArgs>
            <baseDirectory>$(buildsPath)Packages\PrecompiledWeb\HelpDeskBeta</baseDirectory>
          </exec>
        </publishers>
      </conditionalPublisher>
      <package>
        <description>Create Zip package</description>
        <name>HelpDesk-Beta</name>
        <compression>9</compression>
        <outputDir>$(buildsPath)Packages</outputDir>
        <packageList>
          <packageFolder>
            <includeSubFolders>true</includeSubFolders>
            <fileFilter>*.*</fileFilter>
            <baseFolder>$(buildsPath)Packages\PrecompiledWeb\HelpDeskBeta</baseFolder>
            <sourceFolder>$(buildsPath)Packages\PrecompiledWeb\HelpDeskBeta</sourceFolder>
          </packageFolder>
        </packageList>
      </package>
      <conditionalPublisher>
        <conditions>
          <condition>Success</condition>
        </conditions>
        <publishers>
          <exec>
            <description>Publish Web Site to the New Beta server using Web Deploy Remote Agent.</description>
            <executable>HelpDesk Web Deploy.deploy.cmd</executable>
            <buildArgs>/y /m:http://helpdeskbeta2.cloudapp.net/MSDeployAgentService /u:administrator /p:Micajah8877</buildArgs>
            <baseDirectory>$(sourcesPath)HelpDesk\HelpDesk Web Deploy\obj\Debug\Package</baseDirectory>
            <buildTimeoutSeconds>1800</buildTimeoutSeconds>
          </exec>
          <exec>
            <description>Publish Web Site to the Beta server via FTP.</description>
            <executable>C:\Program Files (x86)\WinSCP\WinSCP.com</executable>
            <buildArgs>/command "open BWA_HelpDesk_Staging -timeout=30" "option confirm off" "put $(buildsPath)Packages\HelpDesk-Beta.zip /BWA.HelpDesk/Web_Beta_MrWhite/IncomingPackages/HelpDesk-Beta.zip" "mv /BWA.HelpDesk/Web_Beta_MrWhite/IncomingPackages/HelpDesk-Beta.zip /BWA.HelpDesk/Web_Beta_MrWhite/IncomingPackages/HelpDeskBeta/HelpDesk-Beta.zip" "close" "exit"</buildArgs>
            <baseDirectory>$(buildsPath)Packages\PrecompiledWeb\HelpDeskBeta</baseDirectory>
            <buildTimeoutSeconds>1800</buildTimeoutSeconds>
          </exec>
        </publishers>
      </conditionalPublisher>
      <email mailport="25" includeDetails="TRUE" mailhostUsername="AKIAIMHA7HCKZ3PNYSXA" mailhostPassword="AlPedmMJUspyCKQmOVBiGn3KuUlVlNHDoU43vH0vb8Q3" useSSL="TRUE">
        <from>build@micajah.com</from>
        <mailhost>email-smtp.us-east-1.amazonaws.com</mailhost>
        <users>
          <user name="Vladimir Gooz" group="Developers" address="vladimir.gooz@micajah.com" />
          <user name="Jon Vickers" group="Developers" address="jon.vickers@micajah.com" />
          <user name="Yura Yuriev" group="Developers" address="yura.yuriev@gmail.com" />
          <user name="Igor Vladyka" group="Developers" address="vladyka_igor@hotmail.com" />
          <user name="Eugene Tolmachev" group="Developers" address="eugene@micajah.com" />
          <user name="Michael Khramov" group="Developers" address="michael.khramov@gmail.com" />
          <user name="Patrick Clements" group="Managers" address="patrick.clements@bigwebapps.com" />
        </users>
        <groups>
          <group name="Developers">
            <notifications>
              <notificationType>Always</notificationType>
            </notifications>
          </group>
          <group name="Managers">
            <notifications>
              <notificationType>Success</notificationType>
            </notifications>
          </group>
        </groups>
      </email>
      <xmllogger logDir="$(buildsPath)BuildLogs\HelpDeskBeta" />
    </publishers>
  </project>
  <project name="HelpDeskDatabase" description="HelpDesk Database project" queue="Q3" queuePriority="1">
    <webURL>http://build.micajah.com/server/local/project/HelpDeskDatabase/ViewProjectStatus.aspx</webURL>
    <triggers>
      <intervalTrigger name="continuous" seconds="30" buildCondition="IfModificationExists " initialSeconds="5"/>
    </triggers>
    <maxSourceControlRetries>10</maxSourceControlRetries>
    <sourceControlErrorHandling>ReportOnEveryRetryAmount</sourceControlErrorHandling>
    <sourcecontrol type="filtered">
      <sourceControlProvider type="git">
        <repository>git@github.com:bigWebApps/HelpDesk.git</repository>
        <branch>master</branch>
        <autoGetSource>true</autoGetSource>
        <fetchSubmodules>true</fetchSubmodules>
        <executable>$(gitPath)</executable>
        <tagOnSuccess>false</tagOnSuccess>
        <commitBuildModifications>false</commitBuildModifications>
        <commitUntrackedFiles>false</commitUntrackedFiles>
        <tagCommitMessage>CCNet Build {0}</tagCommitMessage>
        <tagNameFormat>CCNet-Build-{0}</tagNameFormat>
        <committerName>vgooz</committerName>
        <committerEMail>vladimir.gooz@gmail.com</committerEMail>
        <workingDirectory>$(sourcesPath)HelpDeskDatabase</workingDirectory>
        <timeout>600000</timeout>
      </sourceControlProvider>
      <inclusionFilters>
        <pathFilter>
          <pattern>/HelpDesk Database/**/*.*</pattern>
        </pathFilter>
      </inclusionFilters>
    </sourcecontrol>
    <tasks>
      <msbuild>
        <description>Build database project and create project snapshot.</description>
        <executable>C:\WINDOWS\Microsoft.NET\Framework\v4.0.30319\MSBuild.exe</executable>
        <workingDirectory>$(sourcesPath)HelpDeskDatabase\HelpDesk Database</workingDirectory>
        <projectFile>HelpDesk Database.sqlproj</projectFile>
        <buildArgs>/t:Build /p:Configuration=Debug /v:diag</buildArgs>
        <timeout>900</timeout>
      </msbuild>
      <exec>
        <description>Publish database project to the Azure Cloud Service.</description>
        <executable>C:\Program Files (x86)\Microsoft SQL Server\110\DAC\bin\SqlPackage.exe</executable>
        <buildArgs>/Action:Publish /SourceFile:"bin\Debug\HelpDesk Database.dacpac" /Profile:BWA_SherpaDesk_1_Staging.publish.xml</buildArgs>
        <baseDirectory>$(sourcesPath)HelpDeskDatabase\HelpDesk Database</baseDirectory>
        <buildTimeoutSeconds>3600</buildTimeoutSeconds>
      </exec>
      <exec>
        <description>Publish database project to the HelpDesk Beta BWA_HelpDesk_1 Database.</description>
        <executable>C:\Program Files (x86)\Microsoft SQL Server\110\DAC\bin\SqlPackage.exe</executable>
        <buildArgs>/Action:Publish /SourceFile:"bin\Debug\HelpDesk Database.dacpac" /Profile:BWA_HelpDesk_1_Staging.publish.xml</buildArgs>
        <baseDirectory>$(sourcesPath)HelpDeskDatabase\HelpDesk Database</baseDirectory>
        <buildTimeoutSeconds>3600</buildTimeoutSeconds>
      </exec>
      <exec>
        <description>Publish database project to the HelpDesk Beta BWA_HelpDesk_FQ Database.</description>
        <executable>C:\Program Files (x86)\Microsoft SQL Server\110\DAC\bin\SqlPackage.exe</executable>
        <buildArgs>/Action:Publish /SourceFile:"bin\Debug\HelpDesk Database.dacpac" /Profile:BWA_HelpDesk_FQ_Staging.publish.xml</buildArgs>
        <baseDirectory>$(sourcesPath)HelpDeskDatabase\HelpDesk Database</baseDirectory>
        <buildTimeoutSeconds>3600</buildTimeoutSeconds>
      </exec>
    </tasks>
    <publishers>
      <email mailport="25" includeDetails="TRUE" mailhostUsername="AKIAIMHA7HCKZ3PNYSXA" mailhostPassword="AlPedmMJUspyCKQmOVBiGn3KuUlVlNHDoU43vH0vb8Q3" useSSL="TRUE">
        <from>build@micajah.com</from>
        <mailhost>email-smtp.us-east-1.amazonaws.com</mailhost>
        <users>
          <user name="Vladimir Gooz" group="Developers" address="vladimir.gooz@micajah.com" />
          <user name="Jon Vickers" group="Developers" address="jon.vickers@micajah.com" />
          <user name="Yura Yuriev" group="Developers" address="yura.yuriev@gmail.com" />
          <user name="Igor Vladyka" group="Developers" address="vladyka_igor@hotmail.com" />
          <user name="Eugene Tolmachev" group="Developers" address="eugene@micajah.com" />
          <user name="Michael Khramov" group="Developers" address="michael.khramov@gmail.com" />
          <user name="Patrick Clements" group="Managers" address="patrick.clements@bigwebapps.com" />
        </users>
        <groups>
          <group name="Developers">
            <notifications>
              <notificationType>Always</notificationType>
            </notifications>
          </group>
          <group name="Managers">
            <notifications>
              <notificationType>Success</notificationType>
            </notifications>
          </group>
        </groups>
      </email>
      <xmllogger logDir="$(buildsPath)BuildLogs\HelpDeskDatabase" />
    </publishers>
  </project>
</cruisecontrol>